.header{
    display:flex ;
    justify-content: space-between;
    border:solid;
}
.header h1{
margin-left: 20px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:2px solid black;
    border-radius: 50px;
    margin: 25;
}
.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
    padding: 30px;
    margin: 25px;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    padding: 15px;
    border: solid;

}
body{
    margin: 0px;
    background-color: whitesmoke;
}
.bodyImg{
    position: relative;
    color: white;
}
.bodyImg h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bodyImg h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu a{
    margin: 10px;
}
a:link{
color:black ;
}
a:visited{
color: darkslategrey;
}
.origami:hover{
    transform:scale(1.2);
}